<!-- src/app/components/helper-form/helper-form.component.html -->
<div class="form-container">
    <h2>{{ helper.name ? 'Edit' : 'Add' }} Helper</h2>
    <form>
      <app-input-field placeholder="Name" [value]="helper.name" (onInput)="helper.name = $event.target.value"></app-input-field>
      <mat-radio-group [(ngModel)]="helper.role">
        <mat-radio-button *ngFor="let role of roles" [value]="role">{{ role }}</mat-radio-button>
      </mat-radio-group>
      <app-input-field placeholder="Employee ID" [value]="helper.employeeId" (onInput)="helper.employeeId = $event.target.value"></app-input-field>
      <app-input-field placeholder="Mobile No" [value]="helper.mobileNo" (onInput)="helper.mobileNo = $event.target.value"></app-input-field>
      <app-button label="Save" (onClick)="onSave()"></app-button>
    </form>
  </div>